<!doctype html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Confirmation</title>
    </head>

    <body>
        <h1>Confirmation</h1>

        <form action="/home/confirmation/on/" method="post">
            <label for="confirm">Email</label>
            <input type="email" name="confirmation" id="confirmation">
            <br><br>
            <input type="submit">
        </form>
    </body>

</html>